html, body {
	font-size:16px;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}

body{
	font:sans-serif;
	line-height:1.4rem;
}
.flex {
	display:flex;
}
.container {
	margin:auto;
}

div {
	display:block;
}

/* Header */
nav  {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav span {
	font-size:1.5rem;
	font-weight:bolder;
}

nav div {
	display: flex;
    align-items: center;
}
.logo{
	height:3rem;
	padding-left:2rem;
	padding-right:2rem;
}

ul {
	margin-right:1rem;
}

ul li {
	display: inline;
    padding: 0px 1rem;
    font-weight:1rem;
}

header {
	border-bottom: 2px solid black;
	width:100%;
}

#brand span {
  font-family:'Raleway', sans-serif;
  font-weight:900;
}

.menu a {
  font-family:'Raleway', sans-serif;
}

.menu a:hover {
  opacity:0.7;
}

.dropdown-menu-mobile {
  display:none;
}

@media only screen and (max-width:825px) {

  .logo{
  height:2.5rem;
  padding-left:1rem;
  padding-right:1rem;
}

nav span {
  font-size:1.5rem;
  font-weight:bolder;
  margin-right:1rem;
}

.menu {
  display:none;
}
/* Dropdown Button */
.dropbtn {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(255,99,71, 0.8);
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius:5px;
    border: none;
    cursor: pointer;
    margin-right:3rem;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background: rgb(119,136,153); /* Fallback for older browsers without RGBA-support */
  background: rgba(119,136,153 0.8);
}

/* The container <div> - needed to position the dropdown content */
.dropdown-menu-mobile {
    position: relative;
    display: inline-block;
   

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    border-radius:4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1000;
    
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    border-radius:4px;
    z-index:9999;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: tomato;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;

}

}

/* main banner */
.main {
    position: relative;
    background: url("../images/skyline1.png") center center no-repeat;
    background-size: cover;
    height:30rem;
    overflow:hidden;
    text-align:center;
}
.main:before { /*overlay*/
  position:absolute; 
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 30rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.main * {
  position:relative;
}


.banner-text h1 {
	font-weight:bold;
	font-size:2rem;
	line-height:1.2;
	margin-top:2rem;
	padding:1.5rem 5rem;
	color:white;
  font-family:'Raleway', sans-serif;
  font-weight:900;
}

.banner-text h3 {
    font-weight:bold;
	font-size:1.2rem;
	line-height:1.2;
	padding:1.5rem 5rem;
	color:white;
  font-family:'Raleway', sans-serif;
  font-weight:900;
}

.banner-text {

    width: 45%;
    display: flex;
    flex-direction: column;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(255,99,71, 0.8);
    margin-top: 50px;
    margin-left: 20px;

}

@media only screen and (max-width:700px) {
  .banner-text{
    justify-content:center;
    width:90%;
    margin-top:100px;

  }
}
/* Opportunity section */

.container {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 4rem auto;
    box-sizing:border-box;
    width:75%;
}

.opportunities h2 {
	font-size:2.5rem;
  font-family:'Raleway', sans-serif;
}

.flex-item {
	margin:20px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    min-height:18rem;
    max-width:18rem;
    border:1px solid black;
    text-align:center;
}

.flex-item h4 {
    font-family:'Raleway', sans-serif;
    font-weight:900;
}

.oppo-text {
  font-family:'Quicksand', sans-serif;
  margin:0px 2px;
}

.flex-item img {
 height:2rem;
 width:2rem;
 position:relative;
}
.flex-item h4, p, img {
	margin:0.7rem 0rem;
	position:relative;
}
.opportunities {
	text-align:center;
	margin-top:2rem;
}

.submit-resume {
  position: relative;
  display:flex;
  align-items:center;
  flex-direction:column;
  margin-bottom:2rem;
}

.submit-resume h5{
   font-family:'Raleway', sans-serif;
    font-weight:900;
  margin-bottom:2rem;
  font-size:2.5rem;
  color:tomato;
  text-align:center;
  line-height:2.4rem;
}
.email {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  width:15rem;
  display:flex;
  justify-content:center;

}


/* Footer */


footer {
	height:9rem;
	background: linear-gradient(black, #51504d);
	color:white;
	text-align:center;
  font-family:'Quicksand', sans-serif;
}
a[href^=tel] {
  color:white;
  font-family:'Quicksand', sans-serif;

}
.reach {
	padding-top:1rem;
}

.design {
	font-size:0.6rem;
	float:right;
  margin-right:0.5rem;
}
#portfolio {
	color:white;
	text-decoration:none;
}

#portfolio:hover {
	text-decoration:underline;
}



/* Contingency section */

.contingency-content {
  height:25rem;
  text-align:center;
  margin-top:2rem;
}

.main-contingency {
  height:30rem;
}

.contingency-heading {
  text-align:center;
}
.contingency-heading h1 {
    font-family:'Raleway', sans-serif;
    font-weight:900;
    font-size:3rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

.contingency-heading h3{
  font-family:'Raleway', sans-serif;
  font-weight:400;
  font-size:1.8rem;
  margin-bottom:2rem;
  line-height:2rem;
}

.contingency-quality {

    width: 40%;
    display: flex;
    background-color: grey;
    flex-direction: column;
    background: rgb(119,136,153); /* Fallback for older browsers without RGBA-support */
    background: rgba(119,136,153 0.8);
    margin-top: 50px;
    margin-left: 20px;
    align-items:center;
    margin-left:5rem;
    color:white;
}

.contingency-quality h3 {
     font-family:'Raleway', sans-serif;
     font-size:1.8rem;
     margin-top:1rem;
}

.contingency-quality p {
  font-family:'Quicksand', sans-serif;
  text-align:center;
  margin-bottom:1rem;
}

.contingency-talk {
  text-align:center;
  margin-top:2rem;
  font-family:'Raleway', sans-serif;
  font-size:1.3rem;
}

.contingency-big {
  font-family:'Raleway', sans-serif;
  font-weight:900;
  font-size:1.8rem;
}

.contingency-contact-container {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
  margin-top:1.5rem;
}
.contingency-contact-phone {
    font-family:'Raleway', sans-serif;
  font-weight:900;
  font-size:1.5rem;
  padding-left:2rem;
  padding-right:1rem;
  height: 6rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgb(119,136,153); /* Fallback for older browsers without RGBA-support */
  background: rgba(119,136,153 0.8);
  color:white;
}
.contingency-contact-email {
    font-family:'Raleway', sans-serif;
  font-weight:900;
  font-size:1.5rem;
  height: 6rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(255,99,71, 0.8);
  color: white;
  padding:0px 1rem;
}

.contingency-quality-mobile {
  display:none;
}

.contingency-contact-container-mobile {
  display:none;
}

/*Contingency mobile section */

@media only screen and (max-width:825px){
  .logo{
  height:2.5rem;
  padding-left:1rem;
  padding-right:1rem;
}

nav span {
  font-size:1.5rem;
  font-weight:bolder;
  margin-right:1rem;
}


}

@media only screen and (max-width:715px) {


  .contingency-quality{
    display:none;
  }

  .contingency-contact-container{
    display:none;
  }

  .main-contingency {
  height:40rem;
}

  .contingency-quality-mobile {
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    background: rgb(119,136,153); /* Fallback for older browsers without RGBA-support */
    background: rgba(119,136,153 0.8);
    margin-top: 50px;
    color:white;
  }
  .contingency-quality-mobile h3 {
     font-family:'Raleway', sans-serif;
     font-size:1.5rem;
     padding:0.5rem;
}

.contingency-quality-mobile p {
  font-family:'Quicksand', sans-serif;
  text-align:center;
  margin-bottom:1rem;
}
.contingency-contact-container-mobile{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  margin-top:1.5rem;
}

.contingency-contact-phone-mobile {
  font-family:'Raleway', sans-serif;
  font-weight:900;
  font-size:1.2rem;
  padding:1rem;
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgb(119,136,153); /* Fallback for older browsers without RGBA-support */
  background: rgba(119,136,153 0.8);
  color:white;
  width:100%;
}
.contingency-contact-email-mobile {
    font-family:'Raleway', sans-serif;
  font-weight:900;
  padding:1rem;
  font-size:1.2rem;
  height: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(255,99,71, 0.8);
  color: white;
  width:100%;
}

}

#active {
  background:darkgrey;
}